body {
  background-color: rgb(170, 157, 145);
  -webkit-user-select: none;
  perspective: 2000px;
}
.main-container {
  margin: auto;
  width: 95%;
  max-width: 500px;
  text-align: center;
}

.button {
  color: #F6F7EB;
  height: 90px;
  width: 120px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: auto 10px;
  background-color: grey;
  font-family: futura, sans-serif;
  font-style: italic;
  box-shadow: 0 10px rgb(102, 88, 99);
  cursor:pointer;
}

.button:focus {
  outline: none;
}
.button:active {
  box-shadow: 0 5px rgb(102, 88, 99);
  transform: translateY(5px);
  outline: none;

}

.display {
  color: #312F2F;
  font-size: 3.5rem;
  border-radius: 5px;
  -webkit-box-shadow: inset 6px 6px 5px 0px rgba(0,0,0,0.28);
  font-family: monospace;
  overflow: auto;
  background-color: #6C8EAD;
  padding: 20px 10px;
  font-weight: bold;
  max-width: 800px;
  margin: 30px auto;
}

.heading {
  color: #5C415D;
  font-family:fantasy;
  font-size: 6rem;
  margin: 80px auto -20px auto;
  text-shadow: 3px 3px black;
}






.triangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 400px solid transparent;
  border-top: 700px solid #E94F37;
  z-index: -1;
  position: absolute;;
  top: 3px;
  left: 3%;
  transform: rotate(2.4deg);
  transition: all 24s;
  transition-timing-function: ease-in-out;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 230px solid transparent;
  border-top: 620px solid #BFBC1E;
  z-index: -1;
  position: absolute;;
  top: 0px;
  right: 4%;
  transform: rotate(-5deg);
  transition: all 30s;
  transition-timing-function: ease-in-out;
}
.main-container:hover {
  perspective: 200px;
}

.main-container:hover ~ .triangle {
  transform: skewX(27deg);
  transform: rotate3d(1, 2, -1, 192deg);
}
.main-container:hover ~ .triangle2 {
  transform: skewX(-40deg);
  transform: rotateX(30deg);
  transform: translate(200px, -20px);
  transform: rotate3d(1, 2, -1, -192deg);

}

@media (max-width: 600px) {
  .heading {
    font-size: 4rem;
    transform: skewX(7deg);
  }
  .button {
    height: 70px;
    width: 90px;
  }
  .display {
    width: 80%;
    margin: 30px auto;
    padding: 10px 10px
  }
}

@media (min-width: 1200px) {
  .heading {
    font-size: 7.5rem;
  }
  .main-container {
    max-width: 1000px
  }

  .display {
    margin-top: 50px;
  }
}
