body {
  background-color:gray;
  font-family: monospace;
}
.main-container {
  margin: auto;
  width: 80%;
  max-width: 900px;
  padding: 100px;
  text-align: center;
}

.button {
  height: 100px;
  width: 100px;
  font-size:30px;
  border-radius: 50px;
  background-color: #006600;


}

.display {
  color: #312F2F;
  font-size: 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.31);
}
